body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition: 1s;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}
#register {
    color: #39a2be;
    display: flex;
    justify-content: flex-end;
}
.logo {
    width: 80px;
    display: flex;
    justify-content: flex-start;
}
.blue {
    transition: 1s;
    background-color: rgba(0,0,0,0.5);
}
.btn-outline-blue {
    border: #39a2be 2px solid !important;
    color: #39a2be;
    font-family: 'Roboto',
    sans-serif;
    background-color: transparent;
}
.btn-outline-blue:hover {
    background-color: #39a2be;
    color: #0C1B2F;
}
.btn-outline-blue a {
    text-decoration: none !important;
}
header {
    width: 100%;
    height: auto;
}

/* cambio de valor del carousel */
.whChange {
    width: 100%;
    height: 40vh;
}
.sectionCarousel{
    background-color:#0C1B2F;
    height: 40vh;
}
.containerMovie {
    padding: 5px;
    color: black;
    float: left;
    width: 20%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 2px gray;
}
.imgStyle {
    border-radius: 10px;
    width: 90%;
    margin: 10px;
}
#btnSeemore {
    margin-left: 25%;
    margin-bottom: 10px;
}
.movie-title{
    margin-top: 30px;
    /* outline:1px solid red; */
}
.container-results{
    background-color: rgba(218, 216, 216, 0.37);
}

.container-imag{
    padding: 5px;
    float: left;
    width: 20%;
    height: auto;
}
.movie-plot{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px gray;
} 
.review h1{
    letter-spacing: 2px;
}
.plot{
   margin:20px 0;  
}
.plot .icons:last-child{
 margin-left:25px;
}
.icons i, .plot span:nth-child(2){
    font-size: 24px;
}
.columns{
    margin-top: 40px;
    column-count: 3;
    column-width: 200px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.bgNav {
    background-color: #0C1B2F;
    color: aqua;
    font-family: 'Roboto', sans-serif;
}
/* clase para esconder en modo desktop */
.contentText {
    text-align: center;
    display: inline-block;
}
.sectionInformation {
    background-image: url('../assets/images/Tropa.jpg');
    background-size: cover;
    width: 100%;
    height: 50vh;
}
.outColor {
    filter: blur(1px);
    border: double 0.5px white;
    box-shadow: 1px 1px 5px 4px #39a2be;
}
.sectionText {
    color: white;;
    background-color: #0C1B2F;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 10vh;
    box-sizing: border-box;
}
.fontHeight {
    font-size: 40px;
}
.highlights{
    font-size: 30px;
    height: 50vh;
}
/* clase de mostrar peliculas */
.containerMovie {
    /* contenedor principal de la pelicula*/
    margin-top: 30vh;
    background-color: lightgray;
    padding: 5px;
     color: black;
     float: left;
     width: 20%;
     height: auto;
     border-radius: 10px;
     box-shadow: 1px 1px 2px gray;
 }
 .imgStyle {
     /* estilo de la imagen de portada */
     border-radius: 10px;
     width: 90%;
     margin: 10px;
 }
 #btnSeemore { 
     /* boton para ver mas */
     margin-left: 25%;
     margin-bottom: 10px;
 }
.hidenNow {
    /* esconder */
    display: none;
}
.showNow {
    /* mostrar */
    display: block;
}
.profile-header{
    outline:1px solid red;
    margin-top: 120px;
}
.container-profile-img{
    width: 30%;
}
.image-user img{
    width: 100px;
}
.details{
    margin-left:18px;
}

@media only screen and (min-width:1200px){
    .sectionCarousel{
    height: 100vh;
    }
    .whChange {
    width: 100%;
    height: 100vh;
    }
    #btnSeemore{
        margin-left: 30%;
    }
    .review{
        padding-left: 14px;
        margin-left:35%;   
    }   
}
