body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
/* cambio de valor del carousel */
.whChange {
    width: 90%;
    height: 30vh;
}
.sectionCarousel{
    background-color: black;
}
.containerMovie {
    padding: 5px;
    color: black;
    float: left;
    width: 20%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 2px gray;
}
.imgStyle {
    border-radius: 10px;
    width: 90%;
    margin: 10px;
}
#btnSeemore {
    margin-left: 25%;
    margin-bottom: 10px;
}
.movie-title{
    margin-top: 30px;
    /* outline:1px solid red; */
}
.container-results{
    background-color: rgba(218, 216, 216, 0.37);
}

.container-imag{
    padding: 5px;
    float: left;
    width: 20%;
    height: auto;
}
.movie-plot{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px gray;
} 
.review h1{
    letter-spacing: 2px;
}
.plot{
   margin:20px 0;  
}
.plot .icons:last-child{
 margin-left:25px;
}
.icons i, .plot span:nth-child(2){
    font-size: 24px;
}
.columns{
    margin-top: 40px;
    column-count: 3;
    column-width: 200px;
}
@media only screen and (min-width:1200px){
    .whChange {
    width: 100%;
    height: 40vh;
}
    #btnSeemore{
        margin-left: 30%;
    }
    .review{
        padding-left: 14px;
        margin-left:35%;   
    }   
}
